<div class="card">
	<div class="card-body">
		<h4 class="card-title">Recent Orders</h4>
		<div class="table-responsive">
			<table class="table table-hover">
				<thead>
					<tr>
						<th> Order </th>
						<th> Client/Provider </th>
						<th> Details </th>
						<th> Assignee </th>
						<th> Registered </th>
						<th> Status </th>
						<th> Last Update </th>
					</tr>
				</thead>
				<tbody>
					{% for o in recent_orders %}
					<tr onclick="window.location='/{% if o.order.is_client %}clients{% else %}providers{% endif %}/order/{{ o.order.id }}/{{ o.order.person.id}}/';">
						<td> {{ o.order.id}} </td>
						<td> <a href="/{% if o.order.is_client %}clients{% else %}providers{% endif %}/order/{{ o.order.id }}/{{ o.order.person.id}}/">{{ o.order.person.firstname}} {{ o.order.person.lastname}} {% if o.order.person.company_name != "" %}- {{ o.order.person.company_name}} {% endif %}</a></td>
						<td>
							{% for e in o.elements %}
							<i class="mdi {{ e.service.icon }} mdi-18px text-{{ e.status.style }}"></i>
							{% endfor %}
						</td>
						<td>
							<img src="{{ o.order.modified_by.profile_picture.url }}" class="me-2" alt="image"> {{ o.order.modified_by.first_name}} {{ o.order.modified_by.last_name}} 
						</td>
						<td> {{ o.order.created_at|date:"d.m.Y"}} - {{ o.order.created_at|time:"H:i"}} </td>
						<td>
							<label class="badge badge-{{ o.status.style}}">{{ o.status.name}}</label>
						</td>
						<td> {{ o.order.modified_at|date:"d.m.Y"}} - {{ o.order.modified_at|time:"H:i"}} </td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>