<div class="card">
	<div class="card-body">
		<h4 class="card-title">Clients orders progress</h4>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th> Order from</th>
						<th> Due Date </th>
						<th> Progress </th>
						<th> Invoiced </th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					{% for o in client_orders %}
					<tr  onclick="window.location='/clients/order/{{ o.order.id }}/{{ o.order.person.id}}/';" title="{{ o.order.description}}">
						<td> 
							<a href="/clients/order/{{ o.order.id }}/{{ o.order.person.id}}/">{{ o.order.person.firstname}} {{ o.order.person.lastname}} {% if o.order.person.company_name != "" %}- {{ o.order.person.company_name}} {% endif %}</a>
						</td>
						<td class="{{ o.alert }}"> {{ o.order.deadline|date:"d.m.Y"}} - {{ o.order.deadline|time:"H:i"}} </td>
						<td>
							<div class="progress">
								<div class="progress-bar bg-gradient-{{ o.status.style}}" role="progressbar" style="width: {{ o.status.percent }}%" aria-valuenow="{{ o.status.percent }}" aria-valuemin="0" aria-valuemax="100"></div>
							</div>
						</td>
						<td class="text-{% if o.invoiced == 100 %}success{% elif o.invoiced == 0 %}danger{% else %}info{% endif %}">
							{{ o.invoiced }} %
						</td>
						<td>{% if o.invoiced == 0 and o.proformed and o.order.status.percent < 101 %}
							<a href="/payments/convert/{{ o.proformed.proforma.id }}/" title="Convert proforma to invoice">
							<i class="mdi mdi-file-export mdi-18px"></i>
							</a>
							{% elif o.invoiced < 100 and o.order.status.percent > 0 and o.order.status.percent < 101 %}
							<a href="/payments/invoice/0/{{ o.order.person.id }}/{{ o.order.id }}/" title="Create an invoice">
							<i class="mdi mdi-file mdi-18px"></i>
							</a>
							{% endif %}
						</td>
					</tr>
					{% endfor %}
				</tbody>
			</table>
		</div>
	</div>
</div>