{% extends "base.html" %} 
{% block title %}Sprachen Express - Appointment{% endblock %} 
{% block content %} 
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-calendar-clock"></i>
		</span> Appointment of {{ appointment.person.firstname }} {{ appointment.person.lastname }} 
		with {{ appointment.with_person.firstname }} {{ appointment.with_person.lastname }}
		on {{ appointment.schedule|date:"d.m.Y"}} at {{ appointment.schedule|time:"H:i"}}
	</h3>
</div> 
{% load static %}
<div class="row">
	<div class="col-md-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Client: {{ appointment.person.firstname }} {{ appointment.person.lastname }}</h4>
				<p>Phone: {{ appointment.person.phone }} / E-mail: {{ appointment.person.email }}<br>Adress: {{ appointment.person.address }}</p>
				<div class="row">
					<form method="post" class="col-md-12"> {% csrf_token %}
						<fieldset{% if is_invoiced %} disabled{% endif %}>
							<div class="form-group row" >
								<div class="col-sm-8">
									<input type="text" class="form-control" placeholder="Search a new client" name="c_search" value="{{ c_search }}" aria-label="Search a new client">
								</div>
								<div class="col-sm-4">
									<button type="submit" class="btn btn-gradient-primary">Search</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="row">
					<form method="post" class="col-md-12"> {% csrf_token %} <div class="form-group row">
							<div class="col-sm-7">
								<select class="form-select" name="new_client"> 
									{% for c in clients %} 
									<option value="{{ c.id }}" {% if c.id == appointment.person.id %} selected{% endif %}>{{ c.firstname }} {{ c.lastname }} - {{ c.company_name }}</option> 
									{% endfor %} 
								</select>
							</div>
							<div class="col-sm-5">
								<button class="btn btn-gradient-primary btn-icon-text" type="submit">
									<i class="mdi mdi-account btn-icon-prepend"></i> Select the client </button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Provider: {{ appointment.with_person.firstname }} {{ appointment.with_person.lastname }}</h4>
				<p>Phone: {{ appointment.with_person.phone }} / E-mail: {{ appointment.with_person.email }}<br>Adress: {{ appointment.with_person.address }}</p>
				<div class="row">
					<form method="post" class="col-md-12"> {% csrf_token %}
						<fieldset{% if is_invoiced %} disabled{% endif %}>
							<div class="form-group row" >
								<div class="col-sm-8">
									<input type="text" class="form-control" placeholder="Search a new provider" name="p_search" value="{{ p_search }}" aria-label="Search a new provider">
								</div>
								<div class="col-sm-4">
									<button type="submit" class="btn btn-gradient-primary">Search</button>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
				<div class="row">
					<form method="post" class="col-md-12"> {% csrf_token %} <div class="form-group row">
							<div class="col-sm-7">
								<select class="form-select" name="new_provider"> 
									{% for p in providers %} 
									<option value="{{ p.id }}" {% if p.id == appointment.with_person.id %} selected{% endif %}>{{ p.firstname }} {{ p.lastname }} - {{ p.company_name }}</option> 
									{% endfor %} 
								</select>
							</div>
							<div class="col-sm-5">
								<button class="btn btn-gradient-primary btn-icon-text" type="submit">
									<i class="mdi mdi-account btn-icon-prepend"></i> Select the provider </button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Appointment details</h4>
				<p>Appointment created by <b class="text-primary">{{appointment.created_by.first_name}} {{appointment.created_by.last_name}}</b> and modified by <b class="text-success">{{appointment.modified_by.first_name}} {{appointment.modified_by.last_name}}</b>. </p>
				<form method="post" action="/appointments/{% if appointment.id %}{{ appointment.id }}{% else %}0{% endif %}/"> {% csrf_token %} 
					<div class="row">
						<div class="col-md-12">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Description</label>
								<div class="col-sm-10">
									<input type="text" class="form-control" name="description" value="{{ appointment.description }}">
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-8">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">For order</label>
								<div class="col-sm-10">
									<select class="form-select" name="order"> {% for o in orders %} <option value="{{ o.id }}" {% if o.id == appointment.order.id %} selected{% endif %}>{{ o.serial }}{{ o.number }} - {{ o.description }}</option> {% endfor %} </select>
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group row">
								<label class="col-sm-2 col-form-label">Status</label>
								<div class="col-sm-10">
									<select class="form-select" name="status"> {% for s in statuses %} <option value="{{ s.id }}" {% if s.id == appointment.status.id %} selected{% endif %}>{{ s.name }}</option> {% endfor %} </select>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-5">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Scheduled date</label>
								<div class="col-sm-9">
									<input type="date" class="form-control" name="scheduled_date" value="{{ appointment.schedule|date:'Y-m-d' }}">
								</div>
							</div>
						</div>
						<div class="col-md-4">
							<div class="form-group row">
								<label class="col-sm-4 col-form-label">Scheduled time</label>
								<div class="col-sm-8">
									<input type="time" class="form-control" name="scheduled_time" value="{{ appointment.schedule|time:'H:i' }}">
								</div>
							</div>
						</div>
						<div class="col-md-3">
							<div class="form-group row">
								<div class="col-sm-12">
									<button class="btn btn-gradient-primary btn-icon-text" type="submit">
										<i class="mdi mdi mdi-calendar-clock btn-icon-prepend"></i> Save the appointment </button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}