{% extends "base.html" %}
{% block title %}Sprachen Express - Offers for clients{% endblock %} 
{% block content %} 
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-warning text-white me-2">
			<i class="mdi mdi-star"></i>
		</span> Offers for clients
	</h3>
</div>
{% load static %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<form method="post"> 
						{% csrf_token %} 
						<table class="table">
							<tbody>
								<tr>
									<td>
										<div class="input-group input-group-sm">
											<i class="input-group-text mdi mdi-magnify mdi-18px"></i>
											<input type="text" class="form-control" placeholder="Search client" name="search_client" value="{{ search_client }}" aria-label="Search client">
										</div>
									</td>
									<td>
										<div class="input-group input-group-sm">
											<i class="input-group-text mdi mdi-magnify mdi-18px"></i>
											<input type="text" class="form-control" placeholder="Search description" name="search_description" value="{{ search_description }}" aria-label="Search description">
										</div>
									</td>
									<td>
										<div class="input-group input-group-sm">
											<input type="date" class="form-control" name="reg_start" value="{{ reg_start }}">
										</div>
									</td>
									<td>
										<div class="col input-group input-group-sm">
											<input type="date" class="form-control" name="reg_end" value="{{ reg_end }}">
										</div>
									</td>
									<td>
										<div class="col input-group input-group-sm">
											<button type="submit" class="btn btn-gradient-primary me-2">Search</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="table-success">
							<tr>
								<th><a href="/clients/offers/?sort=offer&client={{ search_client }}&description={{ search_description }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}" class="text-warning">Offer</a></th>
								<th><a href="/clients/offers/?sort=client&client={{ search_client }}&description={{ search_description }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}">Client</a></th>
								<th> Description </th>
								<th><a href="/clients/offers/?sort=assignee&client={{ search_client }}&description={{ search_description }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}">Assignee</a></th>
								<th><a href="/clients/offers/?sort=registered&client={{ search_client }}&description={{ search_description }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}">Registered</a></th>
								<th><a href="/clients/offers/?sort=deadline&client={{ search_client }}&description={{ search_description }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}">Due Date</a></th>
								<th><a href="/clients/offers/?sort=status&client={{ search_client }}&description={{ search_description }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}">Status</a></th>
								<th style="text-align: right;">Order</th>
								<th style="text-align: right;"><a href="/clients/offers/?sort=value&client={{ search_client }}&description={{ search_description }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}">Value</a></th>
								<th><a href="/clients/offers/?sort=update&client={{ search_client }}&description={{ search_description }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}">Last Update</a></th>
								<th></th>
							</tr>
						</thead>
						<tbody> {% for o in client_offers %} 
							<tr title="{{ o.order.description}}">
								<td>
									<a href="/clients/offer/{{ o.offer.id }}/{{ o.offer.person.id}}/" class="text-warning"> {{ o.offer.serial}}{{ o.offer.number}} </a>
								</td>
								<td>
									<a href="/persons/{{ o.offer.person.id}}/"> {{ o.offer.person.firstname}} {{ o.offer.person.lastname}} {% if o.offer.person.company_name != "" %}- {{ o.offer.person.company_name}} {% endif %}</a>
								</td>
								<td> {% for e in o.elements %} <i class="mdi {{ e.service.icon }} mdi-18px"></i> {% endfor %} </td>
								<td>
									<img src="{{ o.offer.modified_by.profile_picture.url }}" class="me-2" alt="image" title="{{ o.offer.modified_by.first_name}} {{ o.offer.modified_by.last_name}}">
								</td>
								<td> {{ o.offer.created_at|date:"d.m.Y"}} - {{ o.offer.created_at|time:"H:i"}} </td>
								<td> {{ o.offer.deadline|date:"d.m.Y"}} - {{ o.offer.deadline|time:"H:i"}} </td>
								<td>
									<label class="badge badge-{{ o.offer.status.style}}">{{ o.offer.status.name}}</label>
								</td>
								<td style="text-align: right;"> {% if o.order %}
									<a href="/clients/order/{{ o.order.id }}/{{ o.order.person.id}}/"> {{ o.order.serial}}{{ o.order.number}} </a>
									{% endif %}
								</td>
								<td style="text-align: right;"> {{ o.offer.value}} {{ o.offer.currency.symbol }}</td>
								<td> {{ o.offer.modified_at|date:"d.m.Y"}} - {{ o.offer.modified_at|time:"H:i"}} </td>
								<td> 
									{% if o.offer.order == None %}
									<button type="button" title="Convert it to order" class="btn btn-gradient-primary btn-rounded btn-icon" onclick="location.href='/clients/convert_offer/{{ o.offer.id }}/';">
									<i class="mdi mdi-cart-outline"></i>
									</button>
									{% endif %}
								</td>
							</tr> {% endfor %} 
						</tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table">
						<tbody> 
							{% if client_offers.paginator.num_pages > 1 %} 
							<tr>
								<td>
									<div class="btn-group btn-group-sm">
										{% for pg in client_offers.paginator.page_range %}
										{% if pg == client_offers.number %}
										<button type="button" class="btn btn-primary" onclick="location.href='/clients/offers/?sort={{ sort }}&client={{ search_client }}&description={{ search_description }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}';">{{ pg }}</button>
										{% else %}
										<button type="button" class="btn btn-outline-secondary" onclick="location.href='/clients/offers/?sort={{ sort }}&client={{ search_client }}&description={{ search_description }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}';">{{ pg }}</button>
										{% endif %}
										{% endfor %} </div>
								</td>
							</tr> 
							{% endif %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}