<li class="nav-item{% if 'orders/' in request.path or 'offers/' in request.path%} active{% endif %}">
  <a class="nav-link" data-bs-toggle="collapse" href="#orders" aria-expanded="{% if 'clients/' in request.path %}true{% else %}false{% endif %}" aria-controls="orders">
    <span class="menu-title">Orders & offers</span>
    <i class="menu-arrow"></i>
    <i class="mdi mdi-clipboard-text menu-icon"></i>
  </a>
  <div class="collapse{% if 'orders/' in request.path or 'offers/' in request.path%} show{% endif %}" id="orders">
    <ul class="nav flex-column sub-menu">
      <li class="nav-item">
        <a class="nav-link{% if 'clients/orders/' in request.path %} active{% endif %}" href="/clients/orders/">Client orders</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if 'clients/offers/' in request.path %} active{% endif %}" href="/clients/offers/">Client offers</a>
      </li>
      <li class="nav-item">
        <a class="nav-link{% if 'providers/orders/' in request.path %} active{% endif %}" href="/providers/orders/">Provider orders</a>
      </li>
    </ul>
  </div>
</li>