{% extends "base.html" %}
{% block title %}Sprachen Express - Invoices{% endblock %}
{% block content %}
{% load static %}
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-file"></i>
		</span> Invoices
	</h3>
</div>
{% load static %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<form method="post"> 
						{% csrf_token %} 
						<table class="table">
							<tbody>
								<tr>
									<td>
										<div class="input-group input-group-sm">
											<i class="input-group-text mdi mdi-magnify mdi-18px"></i>
											<input type="text" class="form-control" placeholder="Search client" name="search_client" value="{{ search_client }}" aria-label="Search client">
										</div>
									</td>
									<td>
										<div class="input-group input-group-sm">
											<i class="input-group-text mdi mdi-magnify mdi-18px"></i>
											<input type="text" class="form-control" placeholder="Search description" name="search_description" value="{{ search_description }}" aria-label="Search description">
										</div>
									</td>
									<td>
										<div class="input-group input-group-sm">
											<input type="date" class="form-control" name="reg_start" value="{{ reg_start }}">
										</div>
									</td>
									<td>
										<div class="col input-group input-group-sm">
											<input type="date" class="form-control" name="reg_end" value="{{ reg_end }}">
										</div>
									</td>
									<td>
										<div class="col input-group input-group-sm">
											<button type="submit" class="btn btn-gradient-primary me-2">Search</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th> <a href="/payments/invoices/?sort=type&search={{search}}">Type</a> </th>
								<th> <a href="/payments/invoices/?sort=invoice&search={{search}}">Invoice</a> </th>
								<th> Proforma</th>
								<th> <a href="/payments/invoices/?sort=person&search={{search}}">Person</a> </th>
								<th> Orders </th>
								<th> <a href="/payments/invoices/?sort=assignee&search={{search}}">Assignee</a> </th>
								<th> <a href="/payments/invoices/?sort=registered&search={{search}}">Registered</a> </th>
								<th> <a href="/payments/invoices/?sort=deadline&search={{search}}">Due Date</a> </th>
								<th style="text-align: right;"> <a href="/payments/invoices/?sort=value&search={{search}}">Value</a> </th>
								<th> <a href="/payments/invoices/?sort=payed&search={{search}}">Payed</a> </th>
								<th> <a href="/payments/invoices/?sort=update&search={{search}}">Last Update</a> </th>
								<th></th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for i in person_invoices %} 
							<tr>
								<td> <i class="mdi {% if i.invoice.is_client %}mdi-cart-outline{% else %}mdi-truck{% endif %} mdi-18px"></i> </td>
								<td title="{{ invoice.description }}"> <a href="/payments/invoice/{{ i.invoice.id}}/{{ i.invoice.person.id}}/0/">{{ i.invoice.serial}}{{ i.invoice.number}}</a> </td>
								<td> {% if i.proforma %}<a href="/payments/proforma/{{ i.proforma.id}}/{{ i.invoice.person.id}}/0/">{{ i.proforma.serial}}{{ i.proforma.number}}</a>{% endif %} </td>
								<td> <a href="/persons/{{ i.invoice.person.id}}/"> {{ i.invoice.person.firstname}} {{ i.invoice.person.lastname}} {% if i.invoice.person.company_name != "" %}- {{ i.invoice.person.company_name}} {% endif %}</a> </td>
								<td> 
									{% for o in i.orders %}
									<a href="/{% if o.is_client %}clients{% else %}providers{% endif %}/order/{{ o.id }}/{{ o.person.id}}/" title="{{ o.description }}">{{ o.serial}}{{ o.number}}</a>
									{% endfor %}
								</td>
								<td>
									<img src="{{ i.invoice.modified_by.profile_picture.url }}" class="me-2" alt="image"> {{ i.invoice.modified_by.first_name}} {{ i.invoice.modified_by.last_name}}
								</td>
								<td> {{ i.invoice.created_at|date:"d.m.Y"}} - {{ i.invoice.created_at|time:"H:i"}} </td>
								<td> {{ i.invoice.deadline|date:"d.m.Y"}} </td>
								<td style="text-align: right;"> {% if i.invoice.is_client == False %}-{% endif %}{{ i.value}} {{ i.invoice.currency.symbol}}</td>
								<td class="text-{% if i.payed == 100 %}success{% elif i.payed == 0 %}danger{% else %}info{% endif %}">
									{{ i.payed}} %
								</td>
								<td> {{ i.invoice.modified_at|date:"d.m.Y"}} - {{ i.invoice.modified_at|time:"H:i"}} </td>
								<td> {% if i.payed < 100 %}
									<button type="button" title="Create an payment" class="btn btn-gradient-primary btn-rounded btn-icon" onclick="location.href='/payments/payment/0/{{ i.invoice.person.id }}/{{ i.invoice.id }}/';">
									<i class="mdi mdi-cash"></i>
									</button>
									{% endif %}
								</td>
								<td> {% if i.invoice.cancellation_to == None and i.invoice.cancelled_from == None %}
									<button type="button" title="Cancellation" class="btn btn-gradient-danger btn-rounded btn-icon" onclick="if(confirm('Are you sure?')) { location.href='/payments/cancellation_invoice/{{ i.invoice.id }}/'; }">
									<i class="mdi mdi-close"></i>
									</button>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table">
					  <tbody>
						{% if person_invoices.paginator.num_pages > 1 %} 
							<tr>
								<td>
									<div class="btn-group btn-group-sm">
										{% for pg in person_invoices.paginator.page_range %}
										{% if pg == person_invoices.number %}
										<button type="button" class="btn btn-primary" onclick="location.href='/payments/invoices/?sort={{ sort }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}';">{{ pg }}</button>
										{% else %}
										<button type="button" class="btn btn-outline-secondary" onclick="location.href='/payments/invoices/?sort={{ sort }}&page={{ pg }}&r_start={{ reg_start }}&r_end={{ reg_end }}';">{{ pg }}</button>
										{% endif %}
										{% endfor %} </div>
								</td>
							</tr> 
							{% endif %}
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}