{% extends "base.html" %}

{% block title %}Sprachen Express - Service{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-tag"></i>
		</span> Service
	</h3>
</div>
{% load static %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<form method="post">
				{% csrf_token %}
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th> Icon </th>
								<th> Service name </th>
								<th> Price min </th>
								<th> Price max </th>
								<th> Currency </th>
								<th> UM </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td> <input type="text" class="form-control" name="icon" value="{{ service.icon }}"></td>
								<td> <input type="text" class="form-control" name="name" value="{{ service.name }}"></td>
								<td> <input type="text" class="form-control" name="price_min" value="{{ service.price_min }}"></td>
								<td> <input type="text" class="form-control" name="price_max" value="{{ service.price_max }}"></td>
								<td>
									<select class="form-select" name="currency">
										{% for currency in currencies %}
										<option value="{{ currency.id }}"{% if currency.id == service.currency.id %} selected{% endif %}>{{ currency.name }}</option>
										{% endfor %}
									</select>
								</td>
								<td> 
									<select class="form-select" name="um">
										{% for unit in units %}
										<option value="{{ unit.id }}"{% if unit.id == service.um.id %} selected{% endif %}>{{ unit.name }}</option>
										{% endfor %}
									</select>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table">
					  <tbody>
						  <tr>
							<td width="3%">
							  <div class="input-group input-group-sm">
								<button class="btn btn-gradient-primary btn-icon-text" type="submit">
								  <i class="mdi mdi-currency-eur btn-icon-prepend"></i> Save Currency</button>
							  </div>
							</td>
							<td>{{ update }}</td>
						  </tr>
					  </tbody>
					</table>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}