{% extends "base.html" %} 
{% block title %}Sprachen Express - Invoice{% endblock %} 
{% block content %} 
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-file"></i>
		</span> {% if invoice.cancellation_to %}
		Cancellation invoice {{ invoice.serial }}{{ invoice.number }} for invoice {{ invoice.cancellation_to.serial }}{{ invoice.cancellation_to.number }}
		{% else %}
		Invoice {{ invoice.serial }}{{ invoice.number }} {% if is_client %}to{% else %}from{% endif %} {{ person.firstname }} {{ person.lastname }}
		{% endif %}
	</h3>
</div> 
{% load static %} 
<div class="row">
	<div class="col-md-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Person details</h4>
				<div class="row">
					<div class="col-md-3">
						<p><b>Name:</b></p>
					</div>
					<div class="col-md-9">
						<p>{{ person.firstname }} {{ person.lastname }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<p><b>Company:</b></p>
					</div>
					<div class="col-md-9">
						<p>{{ person.company_name }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<p><b>Contact:</b></p>
					</div>
					<div class="col-md-9">
						<p><a href="mailto:{{ person.email }}"><i class="mdi mdi-email-outline"></i></a> {{ person.email }} / <a href="https://wa.me/{{ person.phone | slice:'2:' }}">
							<i class="mdi mdi-whatsapp"></i></a> {{ person.phone }}<br>Address - {{ person.address }}</p>
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						<p><b>Services:</b></p>
					</div>
					<div class="col-md-9">
						<p>{{ person.services }}</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-6 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Invoice details</h4>
				<p>Invoice created by <b class="text-primary">{{invoice.created_by.first_name}} {{invoice.created_by.last_name}}</b> and modified by <b class="text-success">{{invoice.modified_by.first_name}} {{invoice.modified_by.last_name}}</b>. </p>
				{% if invoice.proforma %}<p class="text-success">This invoice corresponds to proforma <b>{{invoice.proforma.serial}}{{invoice.proforma.number}}</b></p>{% endif %}
				<div class="row">
					<form method="post" class="col-md-12"> {% csrf_token %}
						<div class="row">
							<div class="col-md-12">
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Serial</label>
									<div class="col-sm-4">
										<input type="text"{% if is_client %}disabled=""{% endif %} class="form-control" name="invoice_serial" value="{{ invoice_serial }}">
									</div>
									<label class="col-sm-2 col-form-label">Number</label>
									<div class="col-sm-4">
										<input type="text"{% if is_client %}disabled=""{% endif %} class="form-control" name="invoice_number" value="{{ invoice_number }}">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Description</label>
									<div class="col-sm-10">
										<input type="text" class="form-control" name="invoice_description" value="{{ invoice.description }}">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group row">
									<label class="col-sm-2 col-form-label">Isue date</label>
									<div class="col-sm-4">
										<input type="date" class="form-control" name="invoice_date" value="{% current_date "Y-m-d" %}">
									</div>
									<label class="col-sm-2 col-form-label">Due date</label>
									<div class="col-sm-4">
										<input type="date" class="form-control" name="deadline_date" value="{{ invoice.deadline|date:'Y-m-d' }}">
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group row">
									<div class="col-sm-12">
										<button class="btn btn-gradient-primary btn-icon-text" type="submit">
											<i class="mdi mdi-file-outline btn-icon-prepend"></i> Save the invoice </button>
									</div>
								</div>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div> 
{% if new == False %} 
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Invoice content</h4>
				<div class="table-responsive mt-3">
					<table class="table table-hover">
						<thead>
							<tr id="e_start">
								<th> Service </th>
								<th> Description </th>
								<th> Order </th>
								<th style="text-align: right;"> Quantity </th>
								<th> Unit </th>
								<th style="text-align: right;"> Price </th>
								<th> Status </th>
								<th width="1%"></th>
							</tr>
						</thead>
						<tbody> 
							{% for e in invoice_elements %}
							<tr id="e{{ e.id }}">
								<td width="20%"> {{e.element.service.name}} </td>
								<td> {{e.element.description}} </td>
								<td> <a href="/{% if e.order.is_client %}clients{% else %}providers{% endif %}/order/{{ e.element.order.id }}/{{ e.invoice.person.id}}/">{{ e.element.order.serial }}{{ e.element.order.number }} from {{ e.element.order.created_at|date:"d.m.Y"}} - {{ e.element.order.created_at|time:"H:i"}}</a> </td>
								<td width="7%" style="text-align: right;"> {{e.element.quantity}} </td>
								<td width="10%"> {{e.element.um.name}} </td>
								<td width="10%" style="text-align: right;"> {% if invoice.cancellation_to %}-{% endif %}{{e.element.price}} {{e.element.order.currency.symbol}} </td>
								<td width="10%">
									<label class="badge badge-{{e.element.status.style}}"> {{e.element.status.name}} </label>
								</td>
								<td>{% if invoice.cancellation_to == None %}
									<form method="post" action="#e{{ e.id }}"> {% csrf_token %}
										<input type="hidden" name="invoice_element_id" value="{{e.id}}">
										<button class="btn btn-gradient-danger btn-icon" type="submit" title="Take it out">
											<i class="mdi mdi-minus btn-icon-prepend"></i>
										</button>
									</form>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
							<tr>
								<td colspan="3"> </td>
								<td> <h4>INVOICE</h4> </td>
								<td> <h4>TOTAL:</h4> </td>
								<td style="text-align: right;"> <h4>{{invoice.value}} {{invoice.currency.symbol}}</h4> </td>
								<td colspan="3" style="text-align: right;">
									{% if invoice.is_client %}
									<button class="btn btn-gradient-primary btn-icon" type="button" onclick="window.open('/payments/print_invoice/{{invoice.id}}/');">
									<i class="mdi mdi-printer btn-icon-prepend"></i></button>
									{% endif %}
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% if invoice.cancelled_from is None and invoice.cancellation_to is None %}
{% if uninvoiced_elements %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Uninvoiced services</h4>
				<div class="table-responsive mt-3">
					<table class="table table-hover">
						<thead>
							<tr id="e_start">
								<th> Service </th>
								<th> Description </th>
								<th> Order </th>
								<th style="text-align: right;"> Quantity </th>
								<th> Unit </th>
								<th style="text-align: right;"> Price </th>
								<th> Status </th>
								<th width="1%"></th>
							</tr>
						</thead>
						<tbody> 
							{% for ue in uninvoiced_elements %}
							<tr id="ue{{ ue.id }}">
								<td width="20%"> {{ue.service.name}} </td>
								<td> {{ue.description}} </td>
								<td> <a href="/{% if ue.order.is_client %}clients{% else %}providers{% endif %}/order/{{ ue.order.id }}/{{ ue.order.person.id}}/">{{ ue.order.serial }}{{ ue.order.number }} from {{ ue.order.created_at|date:"d.m.Y"}} - {{ ue.order.created_at|time:"H:i"}}</a> </td>
								<td width="7%" style="text-align: right;"> {{ue.quantity}} </td>
								<td width="10%"> {{ue.um.name}} </td>
								<td width="10%" style="text-align: right;"> {{ue.price}} {{ue.order.currency.symbol}} </td>
								<td width="10%">
									<label class="badge badge-{{ue.status.style}}"> {{ue.status.name}} </label>
								</td>
								<td>
									<form method="post" action="#ue{{ ue.id }}"> {% csrf_token %}
										<input type="hidden" name="uninvoiced_element_id" value="{{ue.id}}">
										<button class="btn btn-gradient-primary btn-icon" type="submit" title="Add to invoice">
											<i class="mdi mdi-plus btn-icon-prepend"></i>
										</button>
									</form>
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endif %}
{% endif %}
{% endblock %}