{% extends "base.html" %}
{% block title %}Sprachen Express - Invoices{% endblock %}
{% block content %}
{% load static %}
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-file"></i>
		</span> Invoices
	</h3>
</div>
{% load static %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<form method="post"> 
						{% csrf_token %} 
						<table class="table">
							<tbody>
								<tr>
									<td width="50%">
										<div class="input-group input-group-sm">
											<i class="input-group-text mdi mdi-magnify mdi-18px"></i>
											<input type="text" class="form-control" placeholder="Search clients" name="search" value="{{ search }}" aria-label="Search clients">
										</div>
									</td>
									<td>
										<div class="input-group input-group-sm">
											<input type="date" class="form-control" name="reg_start" value="{{ reg_start }}">
										</div>
									</td>
									<td>
										<div class="col input-group input-group-sm">
											<input type="date" class="form-control" name="reg_end" value="{{ reg_end }}">
										</div>
									</td>
									<td>
										<div class="col input-group input-group-sm">
											<button type="submit" class="btn btn-gradient-primary me-2">Search</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th> <a href="/payments/invoices/?sort=type">Type</a> </th>
								<th> <a href="/payments/invoices/?sort=invoice">Invoice</a> </th>
								<th> <a href="/payments/invoices/?sort=person">Persons</a> </th>
								<th> Orders </th>
								<th> <a href="/payments/invoices/?sort=assignee">Assignee</a> </th>
								<th> <a href="/payments/invoices/?sort=registered">Registered</a> </th>
								<th> <a href="/payments/invoices/?sort=deadline">Due Date</a> </th>
								<th style="text-align: right;"> <a href="/payments/invoices/?sort=value">Value</a> </th>
								<th> <a href="/payments/invoices/?sort=payed">Payed</a> </th>
								<th> <a href="/payments/invoices/?sort=update">Last Update</a> </th>
							</tr>
						</thead>
						<tbody>
							{% for i in client_invoices %} 
							<tr>
								<td> <i class="mdi {% if i.invoice.is_client %}mdi-clipboard-outline{% else %}mdi-cart-outline{% endif %} mdi-18px"></i> </td>
								<td> <a href="/payments/invoice/{{ i.invoice.id}}">{{ i.invoice.serial}} {{ i.invoice.number}}</a> </td>
								<td> <a href="/persons/{{ i.invoice.person.id}}/"> {{ i.invoice.person.firstname}} {{ i.invoice.person.lastname}} {% if i.invoice.person.company_name != "" %}- {{ i.invoice.person.company_name}} {% endif %}</a> </td>
								<td> 
									{% for o in i.orders %}
									<a href="/{% if o.is_client %}clients{% else %}providers{% endif %}/order/{{ o.id }}/{{ o.person.id}}/" title="{{ o.description }}">{{ o.id}}</a>
									{% endfor %}
								</td>
								<td>
									<img src="{{ i.invoice.modified_by.profile_picture.url }}" class="me-2" alt="image"> {{ i.invoice.modified_by.first_name}} {{ i.invoice.modified_by.last_name}}
								</td>
								<td> {{ i.invoice.created_at|date:"d.m.Y"}} - {{ i.invoice.created_at|time:"H:i"}} </td>
								<td> {{ i.invoice.deadline|date:"d.m.Y"}} </td>
								<td style="text-align: right;"> {{ i.value}} {{ i.invoice.currency.symbol}}</td>
								<td class="text-{% if i.payed == 100 %}success{% elif i.payed == 0 %}danger{% else %}info{% endif %}">
									{{ i.payed}} %
								</td>
								<td> {{ i.invoice.modified_at|date:"d.m.Y"}} - {{ i.invoice.modified_at|time:"H:i"}} </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table">
					  <tbody>
						{% if client_invoices.paginator.num_pages > 1 %} 
							<tr>
								<td>
									<div class="btn-group btn-group-sm">
										{% for pg in client_invoices.paginator.page_range %}
										{% if pg == client_invoices.number %}
										<button type="button" class="btn btn-primary" onclick="location.href='/payments/invoices/?sort={{ sort }}&page={{ pg }}';">{{ pg }}</button>
										{% else %}
										<button type="button" class="btn btn-outline-secondary" onclick="location.href='/payments/invoices/?sort={{ sort }}&page={{ pg }}';">{{ pg }}</button>
										{% endif %}
										{% endfor %} </div>
								</td>
							</tr> 
							{% endif %}
						  <tr>
							<td>
							  <div class="input-group input-group-sm">
								<button type="button" class="btn btn-gradient-primary btn-icon-text">
								  <i class="mdi mdi-file btn-icon-prepend"></i> Register a new invoice</button>
							  </div>
							</td>
						  </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}