{% extends "base.html" %}

{% block title %}Sprachen Express - Orders form clients{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-file"></i>
		</span> Invoices
	</h3>
</div>
{% load static %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table">
					  <tbody>
						<tr>
						  <td width="50%">
							<div class="input-group input-group-sm">
							  <i class="input-group-text mdi mdi-magnify mdi-18px"></i>
							  <input type="text" class="form-control" placeholder="Search" aria-label="Search">
							</div>
						  </td>
						  <td>
							<div class="input-group input-group-sm">
							  <i class="input-group-text mdi mdi-magnify mdi-18px"></i>
							  <input type="date" class="form-control">
							</div>
						  </td>
						  <td>
							<div class="col input-group input-group-sm">
							  <input type="date" class="form-control">
							</div>
						  </td>
						</tr>
					  </tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th> <a href="">Invoice</a> </th>
								<th> <a href="">Client</a> </th>
								<th> <a href="">Order</a> </th>
								<th> <a href="">Assignee</a> </th>
								<th> <a href="">Registered</a> </th>
								<th> <a href="">Value</a> </th>
								<th> <a href="">Payed</a> </th>
								<th> <a href="">Last Update</a> </th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td> <a href="">AB 1234</a> </td>
								<td> <a href="">Matei Georgescu</a> </td>
								<td> <a href="">1234</a> </td>
								<td>
									<img src="{% static 'images/faces/face1.jpg' %}" class="me-2" alt="image"> Adrian G. Radu
								</td>
								<td> 12.12.2012 - 16:30 </td>
								<td> 123 euro</td>
								<td> <a href="" class="text-warning">50 %</a> </td>
								<td> 12.12.2012 - 16:30 </td>
							</tr>
							<tr>
								<td> <a href="">AB 1234</a> </td>
								<td> <a href="">Matei Georgescu</a> </td>
								<td> <a href="">1234</a> </td>
								<td>
									<img src="{% static 'images/faces/face1.jpg' %}" class="me-2" alt="image"> Adrian G. Radu
								</td>
								<td> 12.12.2012 - 16:30 </td>
								<td> - 123 euro</td>
								<td> <a href="" class="text-warning">50 %</a> </td>
								<td> 12.12.2012 - 16:30 </td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table">
					  <tbody>
						<tr>
							<td>
							  <div class="btn-group btn-group-sm">
								<button type="button" class="btn btn-primary">1</button>
								<button type="button" class="btn btn-outline-secondary">2</button>
								<button type="button" class="btn btn-outline-secondary">3</button>
								<button type="button" class="btn btn-outline-secondary">4</button>
							  </div>
							</td>
						  </tr>
						  <tr>
							<td>
							  <div class="input-group input-group-sm">
								<button type="button" class="btn btn-gradient-primary btn-icon-text">
								  <i class="mdi mdi-file btn-icon-prepend"></i> Register a new invoice</button>
							  </div>
							</td>
						  </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}