<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Sprachen Express - Orders Management{% endblock %}</title>
    <!-- plugins:css -->
    {% load static %}
    <link rel="stylesheet" href="{% static 'vendors/mdi/css/materialdesignicons.min.css' %}">
    <link rel="stylesheet" href="{% static 'vendors/css/vendor.bundle.base.css' %}">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_navbar.html -->
      {% include 'partials/_navbar.html' %}
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_sidebar.html -->
        {% include 'partials/_sidebar.html' %}
        <!-- partial -->
        <div class="main-panel">
          <div class="content-wrapper"
            {% if '/clients/' in request.path %}
            style="background-image: url({% static 'images/backgrounds/bg-clients.jpg' %});"
            {% elif '/providers/' in request.path %}
            style="background-image: url({% static 'images/backgrounds/bg-providers.jpg' %});"
            {% elif '/appointments/' in request.path %}
            style="background-image: url({% static 'images/backgrounds/bg-appointments.jpg' %});"
            {% elif '/payments/' in request.path %}
            style="background-image: url({% static 'images/backgrounds/bg-payments.jpg' %});"
            {% elif '/satistics/' in request.path %}
            style="background-image: url({% static 'images/backgrounds/bg-satistics.jpg' %});"
            {% elif '/settings/' in request.path %}
            style="background-image: url({% static 'images/backgrounds/bg-settings.jpg' %});"
            {% elif '/persons/' in request.path %}
            style="background-image: url({% static 'images/backgrounds/bg-persons.jpg' %});"
            {% else %}
            style="background-image: url({% static 'images/backgrounds/bg-appointments.jpg' %});"
            {% endif %}>
            <!-- content-wrapper start -->
            {% block content %}
            {% endblock %}
            <!-- content-wrapper ends -->
          </div>
          <!-- partial:partials/_footer.html -->
          {% include 'partials/_footer.html' %}
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="{% static 'vendors/js/vendor.bundle.base.js' %}"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="{% static 'vendors/chart.js/Chart.min.js' %}"></script>
    <script src="{% static 'js/jquery.cookie.js' %}" type="text/javascript"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="{% static 'js/off-canvas.js' %}"></script>
    <script src="{% static 'js/hoverable-collapse.js' %}"></script>
    <script src="{% static 'js/misc.js' %}"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="{% static 'js/dashboard.js' %}"></script>
    <script src="{% static 'js/todolist.js' %}"></script>
    <!--<script src="{% static 'js/chart.js' %}"></script>-->
    <!-- End custom js for this page -->
  </body>
</html>