{% extends "base.html" %}

{% block title %}Sprachen Express - Person{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-account"></i>
		</span> Person: {{ person.firstname }} {{ person.lastname }} - {{ person.company_name }}
	</h3>
</div>
{% load static %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<form method="post" enctype="multipart/form-data">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">First Name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="firstname" value="{{ person.firstname }}">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Last Name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="lastname" value="{{ person.lastname }}">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Type</label>
							<div class="col-sm-9">
								<select class="form-select" name="entity">
									<option value="pi"{% if person.entity == 'pi' %} selected{% endif %}>Private individual</option>
									<option value="sp"{% if person.entity == 'sp' %} selected{% endif %}>Sole proprietor</option>
									<option value="co"{% if person.entity == 'co' %} selected{% endif %}>Company</option>
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Gender</label>
							<div class="col-sm-9">
								<select class="form-select" name="gender">
									<option value="ma"{% if person.gender == 'ma' %} selected{% endif %}>Man</option>
									<option value="wo"{% if person.gender == 'wo' %} selected{% endif %}>Woman</option>
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">{% if person.phone %}<a href="https://wa.me/{{ person.phone | slice:'2:' }}" target="_blank" title="Open WhatsApp"><i class="mdi mdi-whatsapp"></i></a> {% endif %}Phone</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="phone" value="{{ person.phone }}">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Address</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="address" value="{{ person.address }}">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">{% if person.email %}<a href="https://mail.google.com/mail/?view=cm&fs=1&to={{ person.email }}" target="_blank"><i class="mdi mdi-email-outline"></i></a> {% endif %}E-mail</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" name="email" value="{{ person.email }}">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">ID Card</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="identity_card" value="{{ person.identity_card }}">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Company name</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="company_name" value="{{ person.company_name }}">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Company tax code</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="company_tax_code" value="{{ person.company_tax_code }}">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Company IBAN</label>
							<div class="col-sm-9">
								<input type="email" class="form-control" name="company_iban" value="{{ person.company_iban }}">
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Services</label>
							<div class="col-sm-9">
								<input type="text" class="form-control" name="services" value="{{ person.services }}">
							</div>
						</div>
					</div>
					<div class="col-md-12">
						<div class="form-group row">
							<label class="col-sm-12 col-form-label">Token: <a href="/orders/{{ person.token }}/" target="_blank">{{ person.token }}</a></label>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12">
						<div class="form-group row">
							<div class="col-sm-12">
								<button class="btn btn-gradient-primary btn-icon-text" type="submit">
								  <i class="mdi mdi-account btn-icon-prepend"></i> Save the person
								</button>
								{{ update }}
								{% if person.firstname or person.lastname or person.company_name %}
								<button class="btn btn-gradient-warning btn-icon-text" type="button" onclick="window.open('/clients/offer/0/{{ person.id}}/', '_self');">
									<i class="mdi mdi-star btn-icon-prepend"></i>
									Register an Offer
								</button>
								<button class="btn btn-gradient-primary btn-icon-text" type="button" onclick="window.open('/clients/order/0/{{ person.id}}/', '_self');">
									<i class="mdi mdi-cart btn-icon-prepend"></i>
									Register an order as client
								</button>
								{% if person.services %}
								<button class="btn btn-gradient-primary btn-icon-text" type="button" onclick="window.open('/providers/order/0/{{ person.id}}/', '_self');">
									<i class="mdi mdi-truck btn-icon-prepend"></i>
									Register an order as provider
								</button>
								{% endif %}
								{% endif %}
							</div>
						  </tr>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% endblock %}