<div class="card">
	<div class="card-body">
		<h4 class="card-title">Recent Orders</h4>
		<div class="table-responsive">
			<table class="table">
				<thead>
					<tr>
						<th> Client </th>
						<th> Details </th>
						<th> Assignee </th>
						<th> Status </th>
						<th> Last Update </th>
					</tr>
				</thead>
				<tbody>
					<tr onclick="window.location='#';">
						<td> Client Clientescu </td>
						<td>
							<i class="mdi mdi-file-word-box mdi-18px"></i>
							<i class="mdi mdi-google-translate mdi-18px"></i>
							<i class="mdi mdi-seal mdi-18px"></i>
						</td>
						<td>
							<img src="assets/images/faces/face1.jpg" class="me-2" alt="image"> Adrian G. Radu
						</td>
						<td>
							<label class="badge badge-gradient-success">Wartet</label>
						</td>
						<td> 12.12.2012 - 16:30 </td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
</div>