{% extends "base.html" %}

{% block title %}Sprachen Express - Order{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-account"></i>
		</span> Order #{{ order.id }} from {{ order.person.firstname }} {{ order.person.lastname }} - {{ order.person.company_name }}
	</h3>
</div>
{% load static %}
{% if new == False %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Modify the client</h4>
				<p>(Only if is needed)</p>
				<div class="row">
					<div class="col-md-12">
						<div class="row">
							<form method="post" class="col-md-4"> {% csrf_token %} 
								<div class="form-group row">
									<div class="col-sm-8">
										<input type="text" class="form-control" placeholder="Search a new client" name="search" value="{{ search }}" aria-label="Search a new client">
									</div>
									<div class="col-sm-4">
										<button type="submit" class="btn btn-gradient-primary">Search</button>
									</div>
								</div>
							</form>
							<form method="post" class="col-md-8"> {% csrf_token %} 
								<div class="form-group row">
									<div class="col-sm-9">
										<select class="form-select" name="new_client">
											{% for c in clients %}
											<option value="{{ c.id }}" {% if c.id == order.person.id %} selected{% endif %}>{{ c.firstname }} {{ c.lastname }} - {{ c.company_name }}</option>
											{% endfor %}
										</select>
									</div>
									<div class="col-sm-3">
										<button class="btn btn-gradient-primary btn-icon-text" type="submit">
											<i class="mdi mdi-account btn-icon-prepend"></i> Select the client </button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Order details</h4>
				<p>Order created by <b>{{order.created_by.first_name}} {{order.created_by.last_name}}</b> and modified by <b>{{order.modified_by.first_name}} {{order.modified_by.last_name}}</b>.</p>
				<form method="post" action="/clients/order/{{ order.id }}/{{ order.person.id }}/">
				{% csrf_token %}
				<div class="row">
					<div class="col-md-12">
						<div class="form-group row">
							<label class="col-sm-1 col-form-label">Description</label>
							<div class="col-sm-11">
								<input type="text" class="form-control" name="order_description" value="{{ order.description }}">
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Currency</label>
							<div class="col-sm-10">
								<select class="form-select" name="order_currency">
									{% for c in currencies %}
									<option value="{{ c.id }}" {% if c.id == order.currency.id %} selected{% endif %}>{{ c.name }} - {{ c.symbol }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
					<div class="col-md-6">
						<div class="form-group row">
							<label class="col-sm-2 col-form-label">Status</label>
							<div class="col-sm-10">
								<select class="form-select" name="order_status">
									{% for s in statuses %}
									<option value="{{ s.id }}" {% if s.id == order.status.id %} selected{% endif %}>{{ s.name }}</option>
									{% endfor %}
								</select>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-5">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Deadline (date)</label>
							<div class="col-sm-9">
								<input type="date" class="form-control" name="deadline_date" value="{{ order.deadline|date:'Y-m-d' }}">
							</div>
						</div>
					</div>
					<div class="col-md-5">
						<div class="form-group row">
							<label class="col-sm-3 col-form-label">Deadline (time)</label>
							<div class="col-sm-9">
								<input type="time" class="form-control" name="deadline_time" value="{{ order.deadline|time:'H:i' }}">
							</div>
						</div>
					</div>
					<div class="col-md-2">
						<div class="form-group row">
							<div class="col-sm-12">
								<button class="btn btn-gradient-primary btn-icon-text" type="submit">
									<i class="mdi mdi-clipboard-outline btn-icon-prepend"></i> Save the order</button>
							</div>
						</div>
					</div>
				</div>
				</form>
			</div>
		</div>
	</div>
</div>
{% if new == False %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<h4 class="card-title">Order elements</h4>
				<div class="table-responsive mt-3">
					<table class="table table-hover">
						<thead>
							<tr>
								<th> Service </th>
								<th> Description </th>
								<th> Quantity </th>
								<th> Unit </th>
								<th> Price </th>
								<th> Currency </th>
								<th> Status </th>
								<th colspan="2"  width="1%"> </th>
							</tr>
						</thead>
						<tbody>  
							<tr>
								<td>Blaf asdfaregasdf adfgasd asdg
								</td>
								<td> EWTewtwert atads </td>
								<td width="7%"> 3 </td>
								<td width="10%"> Stk. </td>
								<td width="10%"> 15.50 </td>
								<td width="5%"> $ </td>
								<td width="10%"> <label class="badge badge-warning">Überprüfung</label> </td>
								<td>
									<form method="post">
									{% csrf_token %}
									<input type="hidden" name="edit_element_id" value="1">
									<button class="btn btn-gradient-primary btn-icon" type="submit">
										<i class="mdi mdi-lead-pencil btn-icon-prepend"></i>
									</button>
								</td>
								<td>
									</form>
									<form method="post">
									{% csrf_token %}
									<input type="hidden" name="delete_element_id" value="1">
									<button class="btn btn-gradient-primary btn-icon" type="submit">
										<i class="mdi mdi-delete-forever btn-icon-prepend"></i>
									</button>
									</form>
								</td>
							</tr>
							<form method="post">
							{% csrf_token %}
							<tr>
								<td><input type="hidden" name="element_id" value="0">
									<select class="form-select" name="new_client">
										<option value="{{ p.id }}"{% if p.id == search_results.id %} selected{% endif %}>Blaf asdfaregasdf adfgasd asdg</option>
									</select>
								</td>
								<td> <input type="text" class="form-control" name="deadline_time" value="EWTewtwert atads"> </td>
								<td width="7%"> <input type="text" class="form-control" name="deadline_time" value="3"> </td>
								<td width="10%">
									<select class="form-select" name="new_client">
										<option value="{{ p.id }}"{% if p.id == search_results.id %} selected{% endif %}>Stk.</option>
									</select>
								</td>
								<td width="10%"> <input type="text" class="form-control" name="deadline_time" value="15.50"> </td>
								<td width="5%">
									<select class="form-select" name="new_client">
										<option value="{{ p.id }}"{% if p.id == search_results.id %} selected{% endif %}>$</option>
									</select>
								</td>
								<td width="10%">
									<select class="form-select" name="new_client">
										<option value="{{ p.id }}"{% if p.id == search_results.id %} selected{% endif %}>Warten</option>
									</select>
								</td>
								<td colspan="2" width="1%">
									<button class="btn btn-gradient-primary btn-icon" type="submit">
										<i class="mdi mdi-check btn-icon-prepend"></i>
									</button>
								</td>
							</tr>
							</form>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}