{% extends "base.html" %}

{% block title %}Sprachen Express - Orders to providers{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-cart"></i>
		</span> Orders to providers
	</h3>
</div>
{% load static %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<form method="post">
					{% csrf_token %}
					<table class="table">
					  <tbody>
						<tr>
						  <td width="50%">
							<div class="input-group input-group-sm">
							  <i class="input-group-text mdi mdi-magnify mdi-18px"></i>
							  <input type="text" class="form-control" placeholder="Search providers" name="search" value="{{ search }}" aria-label="Search providers">
							</div>
						  </td>
						  <td>
							<div class="input-group input-group-sm">
							  <input type="date" class="form-control" name="reg_start" value="{{ reg_start }}">
							</div>
						  </td>
						  <td>
							<div class="col input-group input-group-sm">
							  <input type="date" class="form-control" name="reg_end" value="{{ reg_end }}">
							</div>
						  </td>
						  <td>
							<div class="col input-group input-group-sm">
							  <button type="submit" class="btn btn-gradient-primary me-2">Search</button>
							</div>
						  </td>
						</tr>
					  </tbody>
					</table>
					</form>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th> <a href="/providers/orders/?sort=order&search={{search}}">Order</a> </th>
								<th> <a href="/providers/orders/?sort=provider&search={{search}}">Provider</a> </th>
								<th> Description </th>
								<th> <a href="/providers/orders/?sort=assignee&search={{search}}">Assignee</a> </th>
								<th> <a href="/providers/orders/?sort=registered&search={{search}}">Registered</a> </th>
								<th> <a href="/providers/orders/?sort=deadline&search={{search}}">Due Date</a> </th>
								<th> <a href="/providers/orders/?sort=status&search={{search}}">Status</a> </th>
								<th style="text-align: right;"> <a href="/providers/orders/?sort=value&search={{search}}">Value</a> </th>
								<th> <a href="/providers/orders/?sort=invoiced&search={{search}}">Invoiced</a> </th>
								<th> <a href="/providers/orders/?sort=update&search={{search}}">Last Update</a> </th>
								<th></th>
							</tr>
						</thead>
						<tbody>
							{% for o in provider_orders %}
							<tr title="{{ o.order.description}}">
								<td> <a href="/providers/order/{{ o.order.id }}/{{ o.order.person.id}}/"> {{ o.order.id}} </a> </td>
								<td> <a href="/persons/{{ o.order.person.id}}/"> {{ o.order.person.firstname}} {{ o.order.person.lastname}} {% if o.order.person.company_name != "" %}- {{ o.order.person.company_name}} {% endif %}</a> </td>
								<td>
									{% for e in o.elements %}
									<i class="mdi {{ e.service.icon }} mdi-18px text-{{ e.status.style }}"></i>
									{% endfor %}
								</td>
								<td>
									<img src="{{ o.order.modified_by.profile_picture.url }}" class="me-2" alt="image"> {{ o.order.modified_by.first_name}} {{ o.order.modified_by.last_name}}
								</td>
								<td> {{ o.order.created_at|date:"d.m.Y"}} - {{ o.order.created_at|time:"H:i"}} </td>
								<td> {{ o.order.deadline|date:"d.m.Y"}} - {{ o.order.deadline|time:"H:i"}} </td>
								<td>
									<label class="badge badge-{{ o.order.status.style}}">{{ o.order.status.name}}</label>
								</td>
								<td style="text-align: right;"> {{ o.order.value}} {{ o.order.currency.symbol }}</td>
								<td class="text-{% if o.invoiced == 100 %}success{% elif o.invoiced == 0 %}danger{% else %}info{% endif %}">
									{{ o.invoiced}} %
								</td>
								<td> {{ o.order.modified_at|date:"d.m.Y"}} - {{ o.order.modified_at|time:"H:i"}} </td>
								<td> {% if o.invoiced < 100 %}
									<button type="button" title="Create an invoice" class="btn btn-gradient-primary btn-rounded btn-icon" onclick="location.href='/payments/invoice/0/{{ o.order.person.id }}/';">
									<i class="mdi mdi-file"></i>
									</button>
									{% endif %}
								</td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table">
					  <tbody>
						{% if provider_orders.paginator.num_pages > 1 %}
						<tr>
							<td>
							  <div class="btn-group btn-group-sm">
								{% for pg in provider_orders.paginator.page_range %}
								{% if pg == provider_orders.number %}
								<button type="button" class="btn btn-primary" onclick="location.href='/clients/orders/?sort={{ sort }}&page={{ pg }}';">{{ pg }}</button>
								{% else %}
								<button type="button" class="btn btn-outline-secondary" onclick="location.href='/clients/orders/?sort={{ sort }}&page={{ pg }}';">{{ pg }}</button>
								{% endif %}
								{% endfor %}
							  </div>
							</td>
						  </tr>
						  {% endif %}
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}