{% extends "base.html" %} {% block title %}Sprachen Express - Providers{% endblock %} {% block content %} <div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-account-outline"></i>
		</span> Registered providers
	</h3>
</div>
{% load static %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<form method="post"> {% csrf_token %} <table class="table">
							<tbody>
								<tr>
									<td>
										<div class="input-group input-group-sm">
											<i class="input-group-text mdi mdi-magnify mdi-18px"></i>
											<input type="text" class="form-control" placeholder="Search for a name" name="search_name" value="{{ search_name }}" aria-label="Search for a name">
										</div>
									</td>
									<td>
										<div class="input-group input-group-sm">
											<i class="input-group-text mdi mdi-magnify mdi-18px"></i>
											<input type="text" class="form-control" placeholder="Search for a service" name="search_service" value="{{ search_service }}" aria-label="Search for a service">
										</div>
									</td>
									<td>
										<div class="col input-group input-group-sm">
											<button type="submit" class="btn btn-gradient-primary me-2">Search</button>
										</div>
									</td>
								</tr>
							</tbody>
						</table>
					</form>
				</div>
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th width="1%"></th>
								<th> Provider </th>
								<th> Phone </th>
								<th> E-mail </th>
								<th> Services </th>
								<th> Orders </th>
								<th> Registered </th>
								<th> Last Update </th>
							</tr>
						</thead>
						<tbody> {% for p in selected_providers %} 
							<tr>
								<td>
									<i class="mdi {% if p.provider.entity == 'sp' %}mdi-account-star{% elif p.provider.entity == 'co' %}mdi-account-box{% else %}mdi-account{% endif %} mdi-18px"></i>
								</td>
								<td>
									<a href="">{{ p.provider.firstname}} {{ p.provider.lastname}} {% if p.provider.company_name != "" %}- {{ p.provider.company_name}} {% endif %}</a>
								</td>
								<td> {{ p.provider.phone}} </td>
								<td> {{ p.provider.email}} </td>
								<td> {{ p.provider.services}} </td>
								<td> {{ p.total_orders}} </td>
								<td> {{ p.provider.created_at|date:"d.m.Y"}} - {{ p.provider.created_at|time:"H:i"}} </td>
								<td> {{ p.provider.modified_at|date:"d.m.Y"}} - {{ p.provider.modified_at|time:"H:i"}} </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table">
						<tbody>
							{% if selected_providers.paginator.num_pages > 1 %} <tr>
								<td>
									<div class="btn-group btn-group-sm">
										{% for pg in selected_providers.paginator.page_range %}
										{% if pg == selected_providers.number %}
										<button type="button" class="btn btn-primary" onclick="location.href='/clients/clients/?page={{ pg }}';">{{ pg }}</button>
										{% else %}
										<button type="button" class="btn btn-outline-secondary" onclick="location.href='/clients/clients/?page={{ pg }}';">{{ pg }}</button>
										{% endif %}
										{% endfor %}
									</div>
								</td>
							</tr>
							{% endif %}
							<tr>
								<td>
									<div class="input-group input-group-sm">
										<button type="button" class="btn btn-gradient-primary btn-icon-text">
											<i class="mdi mdi-account-plus btn-icon-prepend"></i> Register a new client </button>
									</div>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}