{% extends "base.html" %}

{% block title %}Sprachen Express - Statuses{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-flag-outline"></i>
		</span> Statuses
	</h3>
</div>
{% load static %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead class="table-success">
							<tr>
								<th> Status </th>
								<th> Style </th>
								<th> Percent </th>
							</tr>
						</thead>
						<tbody>
							{% for status in statuses %}
							<tr>
								<td> <a href="{% url 'status_detail' status.id %}">{{ status.name }}</a> </td>
								<td> <a href="{% url 'status_detail' status.id %}" class="text-{{ status.style }}">{{ status.style }}</a> </td>
								<td> <a href="{% url 'status_detail' status.id %}">{{ status.percent }} %</a> </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table">
					  <tbody>
						  <tr>
							<td>
							  <div class="input-group input-group-sm">
								<button type="button" class="btn btn-gradient-primary btn-icon-text" onclick="location.href='/settings/statuses/0/';">
								  <i class="mdi mdi-flag-outline btn-icon-prepend"></i> Register a new status</button>
							  </div>
							</td>
						  </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}