{% extends "base.html" %}

{% block title %}Sprachen Express - Units{% endblock %}

{% block content %}
<div class="page-header">
	<h3 class="page-title">
		<span class="page-title-icon bg-gradient-primary text-white me-2">
			<i class="mdi mdi-cube-outline"></i>
		</span> Units
	</h3>
</div>
{% load static %}
<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th> Units </th>
							</tr>
						</thead>
						<tbody>
							{% for unit in units %}
							<tr>
								<td> <a href="{% url 'unit_detail' unit.id %}">{{ unit.name }}</a> </td>
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				<div class="table-responsive">
					<table class="table">
					  <tbody>
						  <tr>
							<td>
							  <div class="input-group input-group-sm">
								<button type="button" class="btn btn-gradient-primary btn-icon-text" onclick="location.href='/settings/units/0/';">
								  <i class="mdi mdi-cube-outline btn-icon-prepend"></i> Register a new unit</button>
							  </div>
							</td>
						  </tr>
					  </tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}